<div class="container">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <div class="card">
          <div class="card-header">
            <h2>Reset password</h2>
          </div>
          <div class="card-form">
            <form [formGroup]="forgotPasswordForm">
              <div class="form-row row">
                <i class="material-icons">email</i>
                <mat-form-field class="input-width" color="accent">
                  <input type="text" formControlName="email" [errorStateMatcher]="matcher" matInput placeholder="Email address"/>
                  <mat-error *ngIf="email.hasError('required')">
                    Email address is <strong>required</strong>!
                  </mat-error>
                  <mat-error *ngIf="email.hasError('email')">
                    Enter a <strong>valid</strong> email address!
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-row row">
                <i class="material-icons">lock_outline</i>
                <mat-form-field class="input-width" color="accent">
                  <input type="password" formControlName="password" [errorStateMatcher]="matcher" matInput placeholder="New password"/>
                  <mat-error *ngIf="password.hasError('required')">
                    Password is <strong>required</strong>!
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-row row">
                <i class="material-icons">lock_outline</i>
                <mat-form-field class="input-width" color="accent">
                  <input type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher" matInput placeholder="Confirm password"/>
                  <mat-error *ngIf="confirmPassword.hasError('required')">
                    Password is <strong>required</strong>!
                  </mat-error>
                  <mat-error *ngIf="confirmPassword.hasError('match')">
                    Passwords don't match!
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-row row">
                <i class="material-icons">security</i>
                <mat-form-field class="input-width" color="accent">
                  <input type="text" formControlName="token" [errorStateMatcher]="matcher" matInput placeholder="Reset token"/>
                  <mat-error *ngIf="token.hasError('required')">
                    Confirmation token is <strong>required</strong>!
                  </mat-error>
                  <mat-error *ngIf="token.hasError('invalid')">
                    Confirmation token is invalid!
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="card-footer">
                <p style="text-align: center;"><button type="submit" (click)="onSubmitClicked()" [disabled]="!isValid()" mat-button>RESET PASSWORD</button></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
