<div class="container">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <div class="row" *ngIf="!isLoggedIn">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <div class="card">
          <div class="card-header">
            <h2>Login</h2>
          </div>
          <div class="card-form">
            <form [formGroup]="loginForm">
              <div class="form-row">
                <i class="material-icons">email</i>
                <mat-form-field color="accent">
                  <input type="text" formControlName="email" [errorStateMatcher]="matcher" matInput placeholder="Email address"/>
                  <mat-error *ngIf="email.hasError('required')">
                    Email address is <strong>required</strong>!
                  </mat-error>
                  <mat-error *ngIf="email.hasError('email')">
                    Enter a <strong>valid</strong> email address!
                  </mat-error>
                  <mat-error *ngIf="email.hasError('invalid')">
                    Email and password don't match!
                  </mat-error>
                  <mat-error *ngIf="email.hasError('banned')">
                    This account has been suspended!
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <i class="material-icons">lock_outline</i>
                <mat-form-field color="accent">
                  <input type="password" formControlName="password" [errorStateMatcher]="matcher" matInput placeholder="Password"/>

                  <mat-error *ngIf="password.hasError('required')">
                    Password is <strong>required</strong>!
                  </mat-error>

                  <mat-error *ngIf="password.hasError('invalid')">
                    Email and password don't match!
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="card-footer">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <button type="submit" [disabled]="!loginValid()" mat-button (click)="loginClicked()">LOGIN</button>
                    </div>
                    <div class="col-md-6">
                      <button type="button" (click)="onForgotPasswordClicked()" mat-button>FORGOT PASSWORD</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
