.container{
  height: 100%;
  position: relative;
  z-index: 1;
}

.parent {
  position: relative;
}

.background {
  /*background-size: cover;*/
  background: url("../../../assets/img/register_bg.jpg") no-repeat center center;
  height: 100%;
  background-size: cover;
  filter: brightness(40%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.register-content {
  margin-top: -50px;
}

.card{
  margin-top: 40px;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  -webkit-animation-name: card;
  -moz-animation-name: card;
  -o-animation-name: card;
  animation-name: card;
  -webkit-animation-duration: 600ms;
  -moz-animation-duration: 600ms;
  -o-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.card-header{
  position: relative;
  overflow: hidden;
  top: -40px;
  width: 100%;
  padding: 25px;
  border-radius: 3px;
  background: linear-gradient(60deg, #ec407a, #d81b60);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header h4{
  font-weight: 400;
  color: #fff;
  margin-bottom: 25px;
  margin-top: 5px;
}

/*
 * Webkit animations:
 *  Fade in from above when loading the page.
 */
@-webkit-keyframes card {
  from { top: -40px; }
  to {top: 0;}
}

@keyframes card {
  from {top: -40px;}
  to {top: 0;}
}

.input-full-width {
  width: 100%;
}

.firstname {
  padding-left: 0;
  margin-left: 0;
}

.lastname {
  padding-right: 0;
  margin-left: 0;
}

.register-form {
  width: 100%;
}

.register-element {
  margin-top: 3%;
}

.card h3{
  text-align: center;
}

div.terms {
  padding-top: 8%;
}

.register {
  margin-left: 10%;
}

mat-checkbox {
  padding-right: 10%;
}

.feature{
  display: flex;
  /*width: 100%;*/
  flex: 1;
  margin-top: 50px;
}

.feature .icon{
  width: 40px;
}

.feature .icon i{
  font-size: 2.6em;
}

.feature .desc{
  flex: 1;
  margin-left: 10px;
}

.feature .desc p{
  margin-top: 17px;
}

.feature .desc h4{
  margin-top: 8px;
}

.form-part{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 25px;
}

.form-part .row{
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 17px;
}

.form-part .row .mat-form-field{
  width: 100%;
}

.form-part .row i{
  margin-right: 13px;
  position: relative;
  top: 8px;
  color: #555;
}

.form-part .socials{
  margin-top: 40px;
  margin-bottom: 25px;
}

.form-part .row button{
  margin-top: 15px;
}
